.asideArticleBox {
    display: flex;
    justify-content: space-between;
}

aside {
    width: 300px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .asideText{
        background: red;
        width: 75%;
    }
}

article {
    width: 50%;
    padding: 150px 0 0;
    background: pink;
    .longText{
        border-bottom: 5px solid $robinblue;
        background: tomato;
        .date {
        margin: 20px 0 40px;
    }
    }
    
}

