@media (max-width: 1380px) {

// this is the horizonal blue bar 
    .blogHeader .wrapper::after,
    .blogHeader .wrapper::before{
        display: none;
    }
}

@media (max-width:1100px) {
    .blogHeader .blueBox::before{
        display: none;
    }
    .blogHeader .wrapper{
        width:75%;
        align-self: center;
    }

    .asideArticleBox {
        flex-direction: column;
        }
    
    aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    img {
        display: none;
    }
    .asideText{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        position: static;
        width: 80%;
        margin-top: 50px;
        p{
            width: 70%;
        }
        }
    }

    article {
        h2 {
            text-align: center;
        }
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-top: 50px;
        text-align: center;
        align-self: center;
        width: 75%;
        }
    .commentSection {
        margin-top: 0;
        height: 700px;
        form {
        padding-top: 0;
        margin: 0 auto;
            .formFlex {
            display: flex;
            flex-direction: column;
            align-items: center;
            // margin-bottom: 50px;
            input {
                padding: 10px 0;
                width: 100%;
                margin:0;
                }
            }
            textarea {
                margin-top: 30px;
            }
        }
    }
   
}

