.asideArticleBox {
    display: flex;
    justify-content: space-between;
}

////////////
/* ASIDE */
///////////

aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative; 
    .imageBox {
        width: 90%;
    }
    .asideText{
        background: $treegreen;
        width: 75%;
        padding: 90% 20px 20px;
        position: absolute;
        left: 20%;
        z-index: -10;
        h4 {
            margin: 10px 0;
        }
        ul {
            list-style-type: disc;
            margin-left: 20px;
        }
    }
}

article {
    width: 50%;
    padding: 150px 0 0;
    // background: pink;
    .longText{
        width: 90%;
        .date {
        margin: 20px 0 40px;
        }
    }
}

/////////////////////
/* COMMENT SECTION */
/////////////////////

.commentSection {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    .commentBox {
        justify-content: space-between;
        margin-bottom: 50px;
        position: relative;
        display: flex;
        .imageBox {
        width: 15%;
        }
        .textBox {
            .date {
            margin-bottom: 20px;
            }
            max-width: 70%;
        }
    }
}

.commentSection h3 {
        margin: 50px 0 20px;
    }
/////////////////////////
/* FORM AT THE BOTTOM */
////////////////////////

.commentSection form {
    display: flex;
    height: 100%;
    margin-top: 50px;
    position: relative;
    flex-direction: column;
    width: 80%;
    height: 500px;
    padding: 40px;
}

.commentSection{
    textarea, 
    input::placeholder,
    textarea::placeholder {
    background:$blackblue;
    }
    .formFlex{
        display: flex;
        overflow: hidden;
        justify-content: space-between;
        position: relative;
        label {
            position: absolute;
            top: -1000px;
        }
    }
}

.commentSection .email,
.commentSection .name {
    background: $blackblue;
}

.blogSubmitButton {
    @include font($lineheight: 1.5rem, $spacing: 1px, $alignment: center);
    padding: 10px 0;
    background:$treegreen;
}
