
@media (max-width: 1300px) {
        .contactHeader .wrapper::before {
        display: none;
    }
 }

@media (max-width: 800px) {
    .contactHeader .wrapper::before {
        display: none;
    }
    .contactHeader {
        .wrapper {
            margin: 0;
            width: 100%;
            align-self: center;
            height: 700px;
            h1 {
                text-align: center;
            }
            form {
                position: relative;
                width: 100%;
                align-items: center;
                padding: 0;
                margin: 0;
                height:800px;
                textarea {
                    width: 80%;
                    margin-top: 50px;
                    padding: 0;
                }
            }
        }
    }
    .contactSubmitButton {
        padding: 10px;
        border: none;
        margin-bottom: 50px;
    }
}
