////////////////////
/* CONTACT FOOTER */
////////////////////

.contactFooter {
    background: $blackblue;
    height: 50vh;
    nav {
        margin: 110px 0 0 100px;
        width: 50%;
        ul {
            display: flex;
            li {
                font-size: 1.5rem;
                margin-right: 20px;
            }
        }
    }
}

.infoemail{
    @include font($size: 1.3rem);
    margin: 20px 0;
}

//////////////////
/* INDEX FOOTER */
//////////////////

.threeImageRow {
    height: 600px;
    display: flex;
    flex-direction: column;
    background: $treegreen;
    .bigImageBox {
        display: flex;
        justify-content: center;
        .imageBox {
            margin: 80px 10px;
        }
    }
    p {
        background:$robinblue;
        color: black;
        align-self: flex-end;
    }
}