///////////////
/* VARIABLES */
///////////////

$barlow: 'Barlow', sans-serif;
$lato: 'Lato', sans-serif;
$blackblue: #0C1423;
$treegreen: #0F614E;
$robinblue: #86E0F9;


////////////////
/* AESTHETICS */
////////////////

a {
    display: inline-block;
    text-decoration: none;
}

img {
    width: 100%;
}

.wrapper {
    display: flex;
}

i {
    color: white;
}
////////////
/* MIXINS */
////////////

@mixin font ($color: white, 
            $size: 1rem, 
            $alignment: left, 
            $lineheight: normal, 
            $spacing: normal){
    color: $color;
    font-size: $size;
    text-align: $alignment;
    line-height: normal;
    letter-spacing: normal;
    font-family: $barlow;
    text-transform: uppercase;
}

///////////
/* FONTS */ 
///////////

html {
    font-size: 125%;
    font-family: $lato;
    color: white;
    background-color: #0C1423;
    display: flex;
    justify-content: center;
}

body {
    max-width: 4000px;
    width: 100%;
}


.indexHeader h1
{
    @include font ($size: 7rem, $lineheight: 6rem);
    max-width: 500px;
}

h1 {
    @include font ($size: 4rem, $lineheight: 4.5rem);
}

h2 {
    @include font($size: 2rem, $spacing: 1px);
}

h3 {
    @include font($size: 1.5rem, $spacing: 1px)
}

h4 {
    @include font($size: 1rem)
}

header {
    a {
    @include font ($lineheight: 1.5rem, $spacing: 1px, $alignment: center);
    padding: 20px;
    }
}
