header {
    border: 2px solid red;
}
nav {
    border: 2px solid blue;
}

img {
    border: 2px solid pink;
}
.wrapper {
    border: 2px solid white;
}

////////////////////////
/* HEADER BACKGROUNDS */ 
////////////////////////

.indexHeader {
    background: url(../assets/header-image.jpg);
}

.blogHeader {
    background: url(../assets/blog-header.jpg);
}

.contactHeader {
    background: url(../assets/contact-header.jpg);
}

.indexHeader, 
.contactHeader,
.blogHeader {
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
    display: flex;
}

////////////////////
/* COMMON HEADER */
////////////////////

header {
    flex-direction: column;
    nav {
        margin-bottom: 10vh;
        ul {
        display: flex;
    justify-content: flex-end;
        }
    }
}

header a:hover {
    color: $robinblue;
}

//////////////////
/* INDEX HEADER */
//////////////////

.indexHeader {
    h1 { margin-left: 50px;
        }
    .wrapper {
        justify-content: space-between;
        position: relative;
        .imgbox {
        width: 60%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        }
    }
}


//////////////////
/* BLOG HEADER */
//////////////////

.blogHeader {
    display: flex;
    .wrapper{
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        align-self: flex-end;
        position: relative;
        .imgbox {
            z-index:10;
        }
    }
}

// this is the big blue box 

.blogHeader .blueBox::before{
    content: "";
    width: 100%;
    height: 530px;
    background:$robinblue;
    position: absolute;
    top: 130px;
    left: -50px;
    display: none;
}

// this is the vertical blue bar 

.blogHeader .wrapper::after{
    content: "";
    width: 5px;
    height: 900px;
    background:$robinblue;
    position: absolute;
    top: 600px;
    left: -50px;
}

// this is the horizonal blue bar 

.blogHeader .wrapper::before{
    content: "";
    width: 100%;
    height: 5px;
    background:$robinblue;
    position: absolute;
    bottom: -800px;
    left: -50px;
}



/////////////////////
/* CONTACT HEADER */
////////////////////

.contactHeader {
    display: flex;
    .wrapper {
        margin-top: 100px;
        flex-direction: column;
        align-self: flex-end;
        width: 65%;
        position: relative;
        form {
            display: flex;
            background: #0F614E;
            height: 100%;
            margin-top: 120px;
            position: absolute;
            flex-direction: column;
            width: 80%;
            height: 500px;
            padding: 40px;
         }
    }
}

.contactHeader .wrapper::before{
    content: "";
    width: 90%;
    height: 500px;
    background:$robinblue;
    position: absolute;
    top: 250px;
    left: -50px;
}

.contactHeader {
    textarea, 
    input::placeholder,
    textarea::placeholder {
    background:#0F614E;
    color: white;
    }
    .formFlex{
        input {
            background:#0F614E;
        }
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        position: relative;
        label {
            position: absolute;
            top: -1000px;

        }
    }
}   

.name, .email {
    width: 40%;
    padding: 15px;
    margin: 30px 0 30px;
    border: 0;
    border-bottom: 2px solid #86E0F9;
}   

.messageComment {
    border: 2px solid #86E0F9;
    padding: 15px 15px 100px 15px;
    margin-bottom: 30px;
    resize: none;
}

.contactSubmitButton {
    @include font($lineheight: 1.5rem, $spacing: 1px, $alignment: center);
    padding: 10px 0;
    background-color: #0C1423;
}


