@media (max-width:1000px) {
    .indexHeader .imgbox,
    .topBox::before,
    .bottomBox::before,
    .layer1Box {
    display: none;
    }
   
    .underFish {
        height: 400px;
    }

    .fourSquares {
        height: 700px;
        justify-content: center;
        .imageBox {
            display: none;
        }
        .textBox {
            align-items: center;
            width: 100%;
            a {
                align-self: center;
                margin-bottom: 30px;
            }
            p {
                width: 70%;
            }
        }
    }
    .layer1 {
        padding-top: 50px;
        padding-bottom: 50px;
        i {
            left: 25px;
        }
    }
    .layer3 {
        .textBox {
            &:before {
                display: none;
                }
            }
        }
    .threeImageRow {
        height: 400px;
    }
}
