@media (max-width:1000px) {
    .indexHeader .imgbox,
    .topBox::before,
    .bottomBox::before,
    .layer1Box {
    display: none;
    }
   
    .underFish {
        height: 400px;
    }

    .fourSquares {
        height: 600px;
        justify-content: center;
        .imageBox {
            display: none;
        }
        .textBox {
            align-items: center;
            width: 100%;
            a {
                align-self: center;
                margin-bottom: 30px;
            }
            p {
                width: 70%;
            }
        }
    }

    .layer3 {
        .textBox {
            &:before {
                display: none;
                }
            }
        }
    .threeImageRow {
        height: 400px;
    }
}
/////////////////
// more info //
///////////////

/////////////
/* LAYER 1 */
/////////////

// .moreInfo {
//     display: flex;
//     flex-direction: column;
//     .layer1 {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-content: center;
//         padding: 20px;
//         .layer1Box {
//             // max-width: 40%;
//             // display: flex;
//             // position: relative;
//             // padding-left: 70px;
//         }
//     }
// }


/////////////
/* LAYER 2 */
/////////////


/////////////
/* LAYER 3 */
/////////////



