////////////////
/* FIRST MAIN */
////////////////

.underFish {
    height: 700px;
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        width: 60%;
        margin: 30px 0;
    }
    a {
        @include font($color: $blackblue);
        background: $robinblue;
        padding: 10px 20px;
    }
}

//////////////////
/* SECOND MAIN */
/////////////////

.fourSquares {
    display: flex;
    position: relative;
    flex-direction: column;
    background:$treegreen;
    height: 800px;
    justify-content: space-between;
    .imageBox {
        position: absolute;
        width: 40%;
        z-index: 2;
    }
    .textBox {
        width: 40%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.fourSquares {
    h3 {
        margin: 30px 0;
    }
    p {
        margin-bottom: 30px;
    }
    a{
        @include font();
        padding: 10px;
        background: $blackblue;
        width: 150px;
        text-align: center;
    }
}

.topBox {
    align-self: flex-end;
    display: flex;
    align-items: flex-start;
    &:before {
        content: "";
        height: 40%;
        width: 40%;
        background:$robinblue;
        position: absolute;
        top: 0;
        left:50px;
        z-index: 0;
    }
}

.bottomBox {
    display: flex;
     &:before {
        content: "";
        height: 40%;
        width: 40%;
        background:$robinblue;
        position: absolute;
        bottom: -150px;
        right:50px;
        z-index: 0;
    }
    h3, p {
        text-align: right;
    }
    a{
        align-self: flex-end;
    }
}

.topImage {
    top: -100px;
    left: 0;
}

.bottomImage {
    bottom: -100px;
    right: 0;
}
