/////////////
/* LAYER 1 */
/////////////

.moreInfo {
    display: flex;
    flex-direction: column;
    .layer1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        height: 800px;
        justify-content: center;
        align-content: center;
        .layer1Box {
            width: 40%;
            display: flex;
            position: relative;
            padding-left: 70px;
        }
    }
}

.moreInfo i {
    background: $robinblue;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.layer1Box .textBox {
    margin: 20px;
    p {
        margin-top: 20px;
    }
}

/////////////
/* LAYER 2 */
/////////////

.layer2 {
    height: 600px;
    background-image: url(../assets/banner.jpg);
    background-size: cover;
}

/////////////
/* LAYER 3 */
/////////////

.layer3 {
    display: flex;
    padding: 100px;
    justify-content: space-between;
    .imageBox {
        max-width: 30%;
    }
    .textBox {
        width: 60%;
        align-self: center;
        p {
            padding: 20px 0;
        }
        a {
            @include font ();
            background: $robinblue;
            padding: 10px 20px;
        }
    }
}